<div class="container-fluid">
  <div class="container">
    <div class="main">
      <button
        mdbBtn
        type="button"
        color="primary"
        outline="true"
        mdbWavesEffect
      >
        <i class="fa-solid fa-user"></i>
        Get Support
      </button>
      <div class="footer-link-holder">
        <ul>
          <li>
            <a href="">About Us</a>
          </li>
          <li>
            <a href="">FAQ</a>
          </li>
          <li>
            <a href="">Contact Us</a>
          </li>
          <li>
            <a href="">Terms of Use</a>
          </li>
          <li>
            <a href="">Privacy Policy</a>
          </li>
          <li>
            <a href="">DMCA</a>
          </li>
        </ul>
      </div>
      <div class="copywrite">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
          © 2020 Copyright:
          <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </div>
    </div>
  </div>
</div>
