<div class="container">
  <div class="main">
    <!-- single advantage -->
    <div class="single-advantage">
      <div class="comment-content">
        <div class="comment-title">
          <h3 class="main-comment-title">
            <span style="color: red">Private</span> and secure
          </h3>
          <div class="sub-single-comment">
            <div class="sub-single-comment-title">
              <h6 style="font-style: italic; font-weight: bold">
                Want maximum safety online?
              </h6>
              <h6>
                When downloading with us, we are a barrier between you and the
                wild web
              </h6>
              <h6 style="font-style: italic; font-weight: bold">
                How do we do it?
              </h6>
              <h6>
                When you paste a link, we get it for you without using your
                internet connection! We also encrypt traffic with you using
                AES256, uphold strict security and even virus scan for premium
                accounts
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="comment-image-holder">
        <img src="https://static.seedr.cc/images/icon_security.png" alt="" />
      </div>
    </div>
    <!-- single advantage -->
    <!-- single advantage -->
    <div class="single-advantage">
      <div class="comment-content">
        <div class="comment-title">
          <h3 class="main-comment-title">
            <span style="color: red">Stream</span> on any device, anytime,
            anywhere!<span>
              <p style="font-size: 0.8rem">(Except on your toaster *)</p>
            </span>
          </h3>

          <div class="sub-single-comment">
            <div class="sub-single-comment-title">
              <h6>
                Watch, Listen, Read. Anything is accessible! Whenever you get
                stuff with Seedr you can open and play it online on your
                personal Desktop, Mobile Device and even on your TV!
              </h6>
              <h6 style="font-size: 0.8rem">
                * Even Chromecast is supported out-of-the-box
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="comment-image-holder">
        <img src="https://static.seedr.cc/images/icon_streaming.png" alt="" />
      </div>
    </div>
    <!-- single advantage -->
    <!-- single advantage -->
    <div class="single-advantage">
      <div class="comment-content">
        <div class="comment-title">
          <h3 class="main-comment-title">
            <span style="color: red">Optimized</span> for mobile devices, always
            quick and comfortable
          </h3>
          <div class="sub-single-comment">
            <div class="sub-single-comment-title">
              <h6>
                Access our mobile website, optimized to work smoothly on your
                smartphone. We have specially tailored it for your comfort, and
                to be responsive on even the most bloated devices
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="comment-image-holder">
        <img src="https://static.seedr.cc/images/icon_devices.png" alt="" />
      </div>
    </div>
    <!-- single advantage -->
  </div>
</div>
