<div class="main">
  <div class="sub-main">
    <div class="logo-container">
      <i class="fa-brands fa-wpexplorer"></i>
    </div>
    <button
      class="get-stuff-button"
      mdbBtn
      type="button"
      color="white"
      outline="true"
      mdbWavesEffect
    >
      Get Stuff Quickly & Easily
    </button>
    <div class="left-hero-below">
      <ul>
        <li>
          <div class="single-step">
            <i class="fa-solid fa-clipboard"></i>
            <p>Paste a link from another website</p>
          </div>
        </li>
        <li>
          <div class="single-step">
            <i class="fa-solid fa-clock"></i>
            <p>Wait a few seconds</p>
          </div>
        </li>
        <li>
          <div class="single-step">
            <i class="fa-solid fa-arrow-down"></i>
            <p>Download & Stream on any device No Software Required!</p>
          </div>
        </li>
      </ul>
      <button
        class="learn-more-btn"
        mdbBtn
        type="button"
        color="white"
        outline="true"
        mdbWavesEffect
      >
        Learn More
      </button>
    </div>
  </div>
</div>
