<div class="container">
  <div class="main">
    <img src="https://static.seedr.cc/images/landing-medal.png" alt="" />
    <h3 style="margin: 5vh 0">
      Go Premium for great extra features and quicker downloads
    </h3>
    <div class="card-container">
      <!-- single card -->
      <div class="single-card">
        <mdb-card>
          <!--Card image-->
          <!-- <mdb-card-img
          src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).webp"
          alt="Card image cap"
        ></mdb-card-img> -->
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title style="width: 100%; text-align: center">
              <div style="width: 100%; background: #ddeeff; padding: 10px 0">
                <h4>Basic 30GB</h4>
              </div>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text style="margin: 5vh 0">
              <h5>
                Get stuff faster, then play it in HD. Suitable for light use and
                casual users
              </h5>
            </mdb-card-text>

            <!-- price -->
            <div style="margin-top: 5vh" class="price-holder">
              <h4>$695/m</h4>
            </div>

            <a href="#" mdbBtn color="primary" mdbWavesEffect>Select</a>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- single card -->
      <!-- single card -->
      <div class="single-card">
        <mdb-card>
          <!--Card image-->
          <!-- <mdb-card-img
          src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).webp"
          alt="Card image cap"
        ></mdb-card-img> -->
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title style="width: 100%; text-align: center">
              <div style="width: 100%; background: #b1f3a0; padding: 10px 0">
                <h4>Pro 100GB</h4>
              </div>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text style="margin: 5vh 0">
              <h5>
                Get stuff even faster, use private trackers, and save more
                files. Our most popular choice
              </h5>
            </mdb-card-text>

            <!-- price -->
            <div style="margin-top: 5vh" class="price-holder">
              <h4>$995/m</h4>
            </div>

            <a href="#" mdbBtn color="success" mdbWavesEffect>Select</a>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- single card -->
      <!-- single card -->
      <div class="single-card">
        <mdb-card>
          <!--Card image-->
          <!-- <mdb-card-img
          src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).webp"
          alt="Card image cap"
        ></mdb-card-img> -->
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title style="width: 100%; text-align: center">
              <div style="width: 100%; background: #ddeeff; padding: 10px 0">
                <h4>Master 1TB</h4>
              </div>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text style="margin: 5vh 0">
              <h5>
                Mount Seedr as a Network Drive, get all the files you want and
                even automate with our REST
              </h5>
            </mdb-card-text>

            <!-- price -->
            <div style="margin-top: 5vh" class="price-holder">
              <h4>$1995/m</h4>
            </div>

            <a href="#" mdbBtn color="primary" mdbWavesEffect>Select</a>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- single card -->
    </div>
  </div>
</div>
