<div class="container">
  <div class="main">
    <div class="main-title">
      <h3>Join our Satisfied Customers</h3>
    </div>
    <div class="comment-body">
      <mdb-card class="single-comment">
        <!--Card image-->
        <!-- <mdb-card-img
            src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).webp"
            alt="Card image cap"
          ></mdb-card-img> -->
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4><i class="fa-solid fa-quote-left"></i></h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text>
            Never thought I would be downloading 4GB files on my phone
          </mdb-card-text>

          <p class="author">— James</p>
        </mdb-card-body>
      </mdb-card>
      <mdb-card class="single-comment">
        <!--Card image-->
        <!-- <mdb-card-img
            src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).webp"
            alt="Card image cap"
          ></mdb-card-img> -->
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4><i class="fa-solid fa-quote-left"></i></h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text>
            Seedr is really good. It's easy to use, fast and efficient, I
            definitely recommend using it
          </mdb-card-text>

          <p class="author">— Daniel</p>
        </mdb-card-body>
      </mdb-card>
      <mdb-card class="single-comment">
        <!--Card image-->
        <!-- <mdb-card-img
            src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).webp"
            alt="Card image cap"
          ></mdb-card-img> -->
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4><i class="fa-solid fa-quote-left"></i></h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text>
            Seedr has always worked well.. and the staff were very helpful when
            I had issues with my card
          </mdb-card-text>

          <p class="author">Nancy S.</p>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
